version : '3.8'

services:
   api-arbitrage:
      build:
         context: https://github.com/enzocorp/api-filter-symbols.git
         dockerfile: prod.Dockerfile
      container_name : api-arbitrage-prod
      restart: unless-stopped
      working_dir: /usr/src/app
      ports: #Pour tester l'api directement avec Postman depuis l'hote
          - $API_PORT:$API_PORT
      environment :
          - MONGO_DB=$MONGO_DB
          - MONGO_DB_DEV=$MONGO_DB_DEV
          - MONGO_HOSTNAME=$MONGO_HOSTNAME
          - MONGO_PORT=$MONGO_PORT
          - MONGO_INITDB_USERNAME=$MONGO_INITDB_USERNAME
          - MONGO_INITDB_PASSWORD=$MONGO_INITDB_PASSWORD
          - MONGO_URI=$MONGO_URI
          - API_PORT=$API_PORT
          - NODE_ENV=$NODE_ENV
          - API_NAME=$API_NAME
          - DEBUG=$DEBUG
          - DEBUG_COLORS=$DEBUG_COLORS
          - DEBUG_SHOW_HIDDEN=true
      command: /bin/bash -c "npm run start"
      networks:
          default:
              aliases:
                  -  $API_HOSTNAME

   front-arbitrage:
      build:
         context: https://github.com/enzocorp/front-admin-pannel.git
         dockerfile: /prod/prod.Dockerfile
      container_name: front-arbitrage-prod
      restart: unless-stopped
      environment:
        - SITE_HOSTNAME=$SITE_HOSTNAME
        - SITE_PORT=$SITE_PORT
      working_dir: /etc/nginx/conf.d
      command : /bin/bash -c "envsubst '$$SITE_HOSTNAME $$SITE_PORT'< /etc/nginx/conf.d/server_web.conf.template > /etc/nginx/conf.d/server_web.conf && nginx -g 'daemon off;'"
      #On utilise "disable-host-check" car le reverse proxy etant mal opti, il se fait bloquer par la sécurité du serveur d'angular
      networks:
         default:
               aliases:
                  - $SITE_HOSTNAME

   reverse-proxy:
     image: nginx:1.18
     restart: unless-stopped
     container_name: reverse_proxy_arbitrage
     depends_on:
       - front-arbitrage
       - api-arbitrage
     volumes:
       - ./reverse-proxy:/etc/nginx/conf.d
     working_dir: /etc/nginx/conf
     environment:
       - API_HOSTNAME=$API_HOSTNAME
       - API_PORT=$API_PORT
       - API_NAME=$API_NAME
       - SITE_HOSTNAME=$SITE_HOSTNAME
       - SITE_PORT=$SITE_PORT
       - PROXY_HOSTNAME=$PROXY_HOSTNAME
     ports:
       - $HOST_PORT:80
     command: /bin/bash -c "envsubst < /etc/nginx/conf.d/reverse_proxy.conf.template > /etc/nginx/conf.d/reverse_proxy.conf && nginx -g 'daemon off;'"
